# Desafío Variables
### Nombre: Thomas Peet, Braulio Águila, Camilo Ramírez
### Generación: G47
### Profesores: Alfonso Tobar - Juan Pablo Ramírez
### Fecha: 30-06-2022

# Descripción

La empresa en la cual usted trabaja tiene como solicitud el análisis del Índice de Desarrollo Humano (IDH) de diversos países para elaborar un informe para el Ministerio de Relaciones Exteriores a fin de poder contar con la data necesaria para poder comenzar a trabajar en relaciones diplomáticas más estrechas con diversos países. Para ello, usted queda a cargo de poder revisar la base de datos Quality of Government, de la Universidad de Gotemburgo.

Las unidades de medición en esta base corresponden a 194 países, recolectando los últimos datos de enero del 2018. Además, se le recuerda que la base de datos es un compendio de alrededor de 1900 variables que miden las causas y consecuencias de un buen gobierno en materias económicas, salud pública, medio ambiente, salud institucional, corrupción, entre otras.

## 1. Genere una muestra de casos (1 punto). Para ello debes considerar:
* Utilice los últimos 4 dígitos de su rut como semilla pseudoaleatoria.
* Seleccione el 50% de los casos.  
* Cada base generada debe contener los siguientes elementos:  
    - El índice de desarrollo humano (undp_hdi).  
    - El nombre del país (ccodealp).  
    - La región a la que pertenece (ht_region).  
    - El PIB per cápita. (gle_cgdpc).  
    - El total de la población (imf_pop).  
* Si su apellido está entre la A y la M, escoja las siguientes variables del módulo
Educación:   
    - ffp_hf: Human Flight and Brain Drain.  
    - wef_qes: Quality of the educational system.  
    - wdi_expedu: Government expenditure on education, total (% of GDP).  
    - wdi_ners: School enrollment, secondary (% net).  
* Si su apellido está entre la N y la Z, escoja las siguientes variables del módulo
Salud:  
    - wef_imort: Infant mortality, deaths/1000 live births.  
    - who_alc2000: Alcohol consumption per capita (2000-).  
    - who_tobt: Current smoking of any tobacco product (Total).  
    - wdi_exph: Government expenditure on health, total (% of GDP).  
    - Guarde esta tabla procesada en un nuevo objeto.  
    - Renombre las categorías de la variable ht_region de números a regiones.

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('qog_std_cs_jan18.csv')

In [29]:
df

,ccode,cname,ccodealp,ccodecow,ccodewb,version,aid_cpnc,aid_cpsc,aid_crnc,aid_crnio,...,wvs_relacc,wvs_relsch,wvs_relsci,wvs_satfin,wvs_satlif,wvs_screl,wvs_subh,wvs_survself,wvs_tradrat,wvs_trust
0,4,Afghanistan,AFG,700.0,4.0,QoGStdCSJan18,NaN,NaN,29.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Albania,ALB,339.0,8.0,QoGStdCSJan18,NaN,NaN,26.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,Algeria,DZA,615.0,12.0,QoGStdCSJan18,NaN,NaN,21.0,6.0,...,3.710616,1.704692,3.681347,5.988125,6.301029,5.339371,3.805579,-0.409807,-0.498164,0.179286
3,20,Andorra,AND,232.0,20.0,QoGStdCSJan18,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,Angola,AGO,540.0,24.0,QoGStdCSJan18,NaN,NaN,22.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,860,Uzbekistan,UZB,704.0,860.0,QoGStdCSJan18,NaN,NaN,21.0,16.0,...,3.247667,2.191377,2.171875,4.076407,7.888145,5.364856,3.950634,NaN,NaN,0.140921
190,862,Venezuela,VEN,101.0,862.0,QoGStdCSJan18,NaN,NaN,20.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,882,Samoa,WSM,990.0,882.0,QoGStdCSJan18,NaN,NaN,10.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,887,Yemen,YEM,679.0,887.0,QoGStdCSJan18,NaN,NaN,26.0,16.0,...,3.598178,1.697442,3.752032,4.671357,5.887310,3.384707,3.892000,-0.591479,-0.875164,0.403987
193,894,Zambia,ZMB,551.0,894.0,QoGStdCSJan18,NaN,NaN,22.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Columns: 1882 entries, ccode to wvs_trust
dtypes: float64(1855), int64(22), object(5)
memory usage: 2.8+ MB

In [31]:
# Human Flight and Brain Drain , Quality of the educational system, Government expenditure on education, total(% of GDP).
apellido_a_m = ["ffp_hf", "wef_qes", "wdi_expedu", "wdi_ners"]
apellidos_n_z = []  # completar para demas apellidos.
comun = ["undp_hdi", "ccodealp", "ht_region", "gle_cgdpc", "imf_pop"] 
''' El índice de desarrollo humano (undp_hdi).
○El nombre del país (ccodealp).
○La región a la que pertenece (ht_region).
○El PIB per cápita. (gle_cgdpc).
○El total de la población (imf_pop).
'''
lista_columnas = comun + apellido_a_m
print(lista_columnas)
df_work = df[lista_columnas]

['undp_hdi', 'ccodealp', 'ht_region', 'gle_cgdpc', 'imf_pop', 'ffp_hf', 'wef_qes', 'wdi_expedu', 'wdi_ners']

In [32]:
df_work['ht_region']

0      8
1      1
2      3
3      5
4      4
      ..
189    1
190    2
191    9
192    3
193    4
Name: ht_region, Length: 194, dtype: int64

In [33]:
df.dtypes

ccode             int64
cname            object
ccodealp         object
ccodecow        float64
ccodewb         float64
                 ...
wvs_screl       float64
wvs_subh        float64
wvs_survself    float64
wvs_tradrat     float64
wvs_trust       float64
Length: 1882, dtype: object

In [34]:
lista_modificar = [1,2,3,4,5,6,7,8,9,10]
lista_nuevos_nombres = ['EastEurope', 'LatAm', 'NorthAfrica','SubSaharian','WesternDem','EastAsia','SouthEastAsia','SouthAsia','Pacific','Caribbean']
df_work['ht_region'] = df_work['ht_region'].replace(lista_modificar,lista_nuevos_nombres)
df_work

C:\Users\tomas\AppData\Local\Temp\ipykernel_21508\464506640.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_work['ht_region'] = df_work['ht_region'].replace(lista_modificar,lista_nuevos_nombres)

,undp_hdi,ccodealp,ht_region,gle_cgdpc,imf_pop,ffp_hf,wef_qes,wdi_expedu,wdi_ners
0,0.479,AFG,SouthAsia,1282.6400,29.825001,8.1,NaN,3.78028,48.750320
1,0.762,ALB,EastEurope,8516.7002,NaN,7.1,4.111339,3.53944,85.278214
2,0.743,DZA,NorthAfrica,5402.1699,39.113998,5.1,2.977302,NaN,NaN
3,0.857,AND,WesternDem,32367.3300,NaN,NaN,NaN,2.99781,NaN
4,0.531,AGO,SubSaharian,3771.2000,25.789000,6.0,2.134716,NaN,NaN
...,...,...,...,...,...,...,...,...,...
189,0.697,UZB,EastEurope,7370.7202,29.746000,6.3,NaN,NaN,92.207382
190,0.769,VEN,LatAm,10513.9600,NaN,5.2,2.640229,NaN,74.789711
191,0.702,WSM,Pacific,3167.7500,0.192000,8.9,NaN,NaN,79.545982
192,0.499,YEM,NorthAfrica,2170.9299,NaN,7.5,1.896328,NaN,41.721760
193,0.576,ZMB,SubSaharian,1916.7900,NaN,7.8,4.328835,NaN,NaN

### Selección del 50% de los datos

In [35]:
last_4_digits_rut = 5801
df_work_sample = df_work.sample(frac = 0.5,random_state = last_4_digits_rut)

## 2. Genere una función que ingrese su objeto y devuelva lo siguiente (2 puntos):
- Por cada variable existente en su objeto, calcule las medidas descriptivas para
los casos continuos.
- Para cada variable discreta, que calcule la frecuencia.
- Reporte las estadísticas descriptivas para gle_cgdpc, undp_hdi, imf_pop.
- Compare las estadísticas con algún compañero. ¿Ve alguna diferencia
sustancial en alguna de ellas?

# TODO
Nos faltaría comentar lo siguiente "Compare las estadísticas con algún compañero. ¿Ve alguna diferencia sustancial en alguna de ellas?"

In [36]:
df_work_sample.select_dtypes(np.number).mean()

undp_hdi          0.690154
gle_cgdpc     14191.922462
imf_pop          23.603945
ffp_hf            5.547727
wef_qes           3.774276
wdi_expedu        4.647950
wdi_ners         72.398766
dtype: float64

In [37]:
df_work_sample.select_dtypes(object).describe()

       ccodealp    ht_region
count        97           97
unique       97           10
top         DMA  SubSaharian
freq          1           27

In [38]:
def description(df):
    for _,val in df.iteritems():
        print(f'Variable: {val.name}')
        print(val.describe())
        print('*************\n')

In [39]:
description(pd.DataFrame(df_work_sample.select_dtypes(np.number)))

Variable: undp_hdi
count    91.000000
mean      0.690154
std       0.154814
min       0.394000
25%       0.559000
50%       0.719000
75%       0.796000
max       0.948000
Name: undp_hdi, dtype: float64
*************

Variable: gle_cgdpc
count        96.000000
mean      14191.922462
std       17691.650389
min         332.269990
25%        2771.627525
50%        5974.544900
75%       18592.834750
max      108481.130000
Name: gle_cgdpc, dtype: float64
*************

Variable: imf_pop
count     73.000000
mean      23.603945
std       39.395695
min        0.011000
25%        2.001000
50%        7.167000
75%       32.577999
max      252.164993
Name: imf_pop, dtype: float64
*************

Variable: ffp_hf
count    88.000000
mean      5.547727
std       2.040395
min       1.600000
25%       3.675000
50%       6.150000
75%       7.300000
max       8.600000
Name: ffp_hf, dtype: float64
*************

Variable: wef_qes
count    76.000000
mean      3.774276
std       0.941153
min       1.874972
25%       3.071367
50%       3.701698
75%       4.362658
max       5.986858
Name: wef_qes, dtype: float64
*************

Variable: wdi_expedu
count    69.000000
mean      4.647950
std       1.598053
min       1.021950
25%       3.539440
50%       4.659410
75%       5.527380
max       8.627110
Name: wdi_expedu, dtype: float64
*************

Variable: wdi_ners
count    67.000000
mean     72.398766
std      21.625975
min      23.102320
25%      57.267359
50%      80.177567
75%      88.205906
max      99.465446
Name: wdi_ners, dtype: float64
*************

In [40]:
description(df_work)

Variable: undp_hdi
count    186.000000
mean       0.695801
std        0.155289
min        0.347000
25%        0.567500
50%        0.726500
75%        0.804750
max        0.948000
Name: undp_hdi, dtype: float64
*************

Variable: ccodealp
count     194
unique    194
top       AFG
freq        1
Name: ccodealp, dtype: object
*************

Variable: ht_region
count             194
unique             10
top       SubSaharian
freq               49
Name: ht_region, dtype: object
*************

Variable: gle_cgdpc
count       192.000000
mean      14279.040530
std       17914.921331
min         324.160000
25%        2614.187525
50%        7884.719750
75%       19239.776500
max      108481.130000
Name: gle_cgdpc, dtype: float64
*************

Variable: imf_pop
count    145.000000
mean      27.479697
std       48.733842
min        0.011000
25%        2.001000
50%        8.132000
75%       30.770000
max      318.789001
Name: imf_pop, dtype: float64
*************

Variable: ffp_hf
count    177.000000
mean       5.535028
std        2.060068
min        1.000000
25%        4.000000
50%        5.800000
75%        7.200000
max        9.300000
Name: ffp_hf, dtype: float64
*************

Variable: wef_qes
count    150.000000
mean       3.693921
std        0.896050
min        1.874972
25%        3.000263
50%        3.595531
75%        4.308403
max        5.986858
Name: wef_qes, dtype: float64
*************

Variable: wdi_expedu
count    140.000000
mean       4.580411
std        1.748757
min        1.021950
25%        3.204167
50%        4.635925
75%        5.494630
max       12.467750
Name: wdi_expedu, dtype: float64
*************

Variable: wdi_ners
count    133.000000
mean      72.723427
std       22.334482
min       13.600750
25%       59.679131
50%       79.731438
75%       89.817459
max       99.573357
Name: wdi_ners, dtype: float64
*************

#### **Comentarios**
(Comentamos las tendencias de las columnas solicitadas)

# **3. Genere una función que liste las observaciones perdidas de una variable (2 puntos)**
- La función debe contener los siguientes argumentos:  
    * dataframe: La función debe ingresar un objeto DataFrame.
    * var: Variable a inspeccionar.
    * print_list: Opción para imprimir la lista de observaciones perdidas en la
variable. Debe ser False por defecto.
- La función debe retornar la cantidad de casos perdidos y el porcentaje
correspondiente.
- Cuando print_list = True, debe retornar la lista decasos.
- Analice todas las variables y sus casos perdidos.
Para las 3 variables con un mayor porcentaje de casos perdidos, solicite la
lista de países con ausencia de datos.

# TODO

def null_analyzer(dataframe, var, print_list=False):
    # implementación
    

HASTA ACÁ ES LO QUE NECESITAMOS PARA HACER EL DESAFIO EVALUADO SIGUIENTE. PRIORIZAR PARA `desafio_ev.ipynb`

# **4. Grafique histogramas indicando medias muestral y total (2 puntos)**
- Genere una nueva función que grafique un histograma de una variable entregada para un DataFrame de muestra. El gráfico debe además señalar las medias de la variable entregada, tanto para el DataFrame de muestra entregado, como para el DataFrame completo correspondiente.
- La función debe incluir los siguientes argumentos:
    * sample_df: La base de datos donde se encuentran los datos específicos (muestra).
    *  full_df: La base de datos donde se encuentran todos los datos (contiene los datos de la muestra).
    * var: La variable a graficar.
    * sample_mean: Booleano. Si es verdadero, debe generar una recta vertical indicando la media de la variable en la selección muestral (sample_df). Por defecto debe ser False.
    * true_mean: Booleano. Si es verdadero, debe generar una recta vertical indicando la media de variable en la base de datos completa (full_df).
- Implemente las funciones para las 4 variables seleccionadas según su grupo. ¿En qué variables la media de la muestra es mayor a la de los datos completos?

5. Genere una función que devuelva un dotplot con las medias por región para una
variable entregada (2 puntos)
● Cada “punto” del dotplot debe representar la media, o mediana, de una variable
para una región específica.
● La función debe contener los siguientes parámetros:
_ 3
www.desafiolatam.com
○ dataframe: La tabla de datos donde buscar las variables.
○ plot_var: Corresponde a una columna del dataframe entregado, de la cual
se desea obtener la métrica (puede ser media o mediana).
○ plot_by: Corresponde a otra columna del dataframe entregado. Es la
columna por la cual se quiere agrupar el dataframe, para acceder luego a
la columna entregada en plot_var.
Tip: Revise el uso del método groupby de pandas.
○ statistic: Debe presentar dos opciones; "mean" para la media y
"median" para la mediana. Por defecto debe ser "mean".
○ global_stat: Booleano. Si es True, debe graficar la media (o mediana,
según lo indicado en statistic) de la variable plot_var entregada, sin
agrupar (para todos los datos entregados en dataframe). Por defecto
debe ser False.
● Implemente la función en las 3 variables con una menor cantidad de datos
perdidos.

6. Guarde la base de datos (1 punto)
● La submuestra creada tiene un método llamado to_csv. Acceda a este y
guarde la base de datos con la siguiente nomenclatura:
subsample_<iniciales>_demo.csv.
(Subela a la plataforma, junto al desafío)

In [41]:
df_work_sample.to_csv('subsample_tpm_demo.csv')